form{
    margin-top: 3rem;
    margin-bottom: 0;

    .form__fieldset{
        max-width: 570px;
        &.fieldset__required{
            margin: 10px auto 25px auto;
            .form-label__holder{
                display: flex;
                justify-content: space-between;
                span{margin-right: .25rem; color: red;}
            }
            input, textarea{
                width: 100%;
                border: 1px solid #d7d7d7;
                justify-content: center;
            }
            input{
                height: 45px;
            }
            span.error{color:red; font-size: 12px;}
    }

    &.buttons{
        display: flex;
        justify-content: space-around;
        margin: auto;
        .buttons__reset{
            border: 1px solid #d7d7d7;
            border-radius: 0;
            padding: 10px 50px;
            font-size: .75rem;
        }
        .buttons__submit{
            border: 1px solid gray;
            background: gray;
            border-radius: 0;
            padding: 10px 50px;
            font-size: .75rem;
            color: white;
        }
    }

    }
}