.post-header{
    margin-top: 5rem;

    .post-header__image{
        img{
            width: 100%;
            max-height: 500px;
        }

    }
    
    .post-header__content{
        .post-meta {
            margin-bottom: 3rem;
            .post-date{margin-bottom: 1rem;}
            .post-tags {
                margin-top: 1rem;
                .tags{
                    font-size: 13px;
                    text-transform: uppercase;
                    padding: .5rem 1rem;
                    font-weight: 600;
                    border-radius: 2px;
                    margin-right: .5rem;
                    color: #FFF;
                    background-color: #212631;
                    -webkit-transition: 0.2s opacity;
                    transition: 0.2s opacity;
                }
            }
        }

        h1{margin-bottom: 2rem;}
    }
}

.line{
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(1, 254, 228, 0) 0%, rgb(14, 230, 184) 20%, rgb(14, 230, 184) 80%, rgba(1, 254, 228, 0) 100%);
}

.post-body{
    margin-top: 2rem;

    .post-body__image{
        display: flex;
        justify-content: center;
    }
}
