.btn{
    border: 1px solid #d7d7d7;
    background: #f7f7f7;
    border-radius: 0;
    padding: 10px 50px;
    font-size: .75rem;
    margin-top: 20px;
    &:hover{
        border-color: #000;
        background: #000;
        color: #fff;
    }
}
.tagged-posts{
    margin-top: 2rem;
    .tagged-posts--item{
        margin: 2rem 0;
        a{
            &:hover{
                text-decoration: none;
            }
            p{color: #000;}
        }
        .tagged-posts--item__meta{
            img{
                height: 32px;
                width: 32px;
                margin-right: 1rem;
                margin-bottom: 0;
            }
            span{
                font-size: 15px;
            }
        }
    }
}