$accentYellow: #FFDE59;

footer{
    margin-top: 3rem;
    .footer-topbar{
        padding: 0;
        display: flex;
        align-items: center;
        min-height: 4rem;
        background: #000;
        padding-top: 5rem;
        padding-bottom: 5rem;
        @media (max-width: 992px) {padding-top: 3rem; padding-bottom: 0;}
        @media (max-width: 768px) {display: block; padding: 0;}

        .footer-topbar__col{
            display: flex;
            flex:1;
            justify-content: center;
            flex-direction: column;

            &.left{
                color: #fff;
                border-right: 1px solid #d7d7d7;
                text-align: center;
                padding: 50px 0;
                @media (max-width: 768px) {padding-top: 3rem; padding-bottom: 0;}
                .col__newsletter__title{
                    h5{color: #fff;}
                    @media (max-width: 768px) {display: none;}
                }
                .col__newsletter__form{
                    display: block;
                    form{
                        @media (max-width: 768px) {margin-top: 0;}
                        input{
                            background: transparent;
                            padding: .5rem 0;
                            border: 2px solid #d7d7d7;
                            min-width: 20rem;
                            @media (max-width: 992px) {min-width: 0;}
                            @media (max-width: 768px) {min-width: 20rem;}
                            @media (max-width: 576px) {min-width: 0;}
                        }
                        button{
                            padding: .5rem .75rem;
                            border: 2px solid #d7d7d7;
                            border-left: none;
                        }
                    }
                }
            }

            &.right{
                text-align: center;
                @media (max-width: 768px) {padding: 1.5rem 0;}
                h5{
                    color: #fff;
                    @media (max-width: 768px) {display: none;}
                }
                .col__social{
                    .col-md-6{
                        display: flex;
                        padding: 0 30px;
                        a{padding: 20px 0; text-decoration: none;}
                        .col__social__icon{display: flex; justify-content: center; :hover{color: $accentYellow;} @media (max-width: 768px) {font-size: 1.5rem;}}
                        .col__social__name{display: flex; font-size: .75rem; padding-top: .25rem; color: #000; @media (max-width: 768px) {display: none;}}
                        @media (max-width: 576px) {justify-content: center;}
                    }
                    .col__social__facebook{justify-content: flex-end; @media (max-width: 576px) {justify-content: center;}}
                    .col__social__instagram{justify-content: flex-end; @media (max-width: 576px) {justify-content: center;}}
                }
            }
        }
    }

    .footer-bottombar{
        min-height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .75rem;
        @media (max-width: 992px) {display: block;}
        
        .footer-bottombar__copyright{flex:1; text-align: right; @media (max-width: 992px) {text-align: center; padding: 1rem 0;}}
        .footer-bottombar__linkables{
            display: flex; 
            flex:1; 
            @media (max-width: 992px) {justify-content: center; background: #000; padding: 3rem 0;}
            @media (max-width: 768px) {padding-top: 0;}
            .linkables__navigation-list{
                margin: 0;
                .linkable{
                    color: #000;
                    text-decoration: none;
                    margin: 0 1rem;
                    padding: 1rem 0;
                    @media (max-width: 992px){color: #fff;}
                }
            }
        }
    }
}