
.container{
    .spotlight-article{
        min-height: 500px;
        background: #f7f7f7;
        .spotlight-article-content{
            margin: auto;
            text-align: center;

            p{
                margin-top: 25px;
            }
            .spotlight-article-linkable{
                border: 1px solid #d7d7d7;
                border-radius: 0;
                padding: 10px 50px;
                font-size: .75rem;
                margin-top: 20px;
            }
        }

        .spotlight-article-image{
            display: flex;
            align-items: center;
            padding-left: 0;
            img{margin-bottom: 0;}
        }
    }
    .content{margin-top: 3rem;}
    .popular-blog-posts{
        margin-bottom: 3rem;
        .col-md-12{
            h5{
                text-align: center;
                margin: 3rem auto;
            }
        }
        .row{
            @media (max-width: 768px) {&:before{content:none!important;}}

            &:before{
                content: "";
                position: absolute;
                height: 100%;
                width: 1px;
                left: 50%;
                top: 0;
                background: #d7d7d7;
            }
            .post{
                &:nth-child(odd){padding-right: 4rem;}
                &:nth-child(even){padding-left: 4rem;}
                margin-bottom: 2rem!important;
                .post-image{
                    margin-bottom: 0;
                }
                .post-meta{
                    font-size: .75rem;
                    display: flex;
                    justify-content: center;
                    span{
                        text-transform: uppercase;
                        color: #000;
                    }
                }
                .post-title{
                    text-align: center;
                }
                @media (max-width: 768px) {padding: 0 15px!important;}
            }
        }
    }

    .recent-blog-posts{
        .col-md-12 h5{text-align: center; margin: 3rem auto;}
        .post{margin: 4rem 0;}
        .post-slug{
            align-items: center;
            .post-meta{
                font-size: .75rem;
                span{
                    text-transform: uppercase;
                    color: #000;
                }
                .post-title{margin: 1rem 0;}
            }
        }
    }
}


.featured-image{
    .react-parallax{
        .react-parallax-content{
            .featured-image__parallax{
                height: 70vh;
                @media (max-width: 768px) {height: 50vh;}
            }
        }
    }
    
}